body {
    font-family: 'Teko', sans-serif;
  }
  
  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    min-height: 160px;
    background: rgba(244, 228, 212, 0.7);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(93, 198, 119, 0.44), 5px 5px 9px 5px rgba(127, 148, 73, 0.44);
  }
  
  header .container {
    min-height: inherit;
  }
  
  header .row {
    min-height: inherit;
  }
  
  header h1 a {
    color: rgb(116, 135, 67);
    text-decoration: none;
    transition: 800ms;
  }
  
  
  header h1 a:hover {
    color: rgb(93, 198, 135);
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(0, 217, 255), 0 -10px 20px #2f00ff, 0 -18px 40px rgb(13, 255, 0);
  
  }
  
  header h1 a .fa {
    font-size: 1em;
  }
  
  
  header .nav li {
    padding: 0 16px;
    transition: 500ms;
  
  }
  
  header .nav li:hover {
    transform: scale(1.4, 1.4);
  }
  
  header .nav a {
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    color: rgb(116, 135, 67);
  }
  
  header .nav a:hover {
    color: rgb(67, 135, 86);
    text-decoration: none;
  }
  
  /* will display the line under the link on mouseover */
  header .nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #89f6a6;
    background: -moz-linear-gradient(left, #89f6a6 0%, #658743 100%);
    background: -webkit-linear-gradient(left, #89f6a6 0%, #658743 100%);
    background: linear-gradient(to right, #89f6a6 0%, #658743 100%);
    transition: 1000ms;
    margin: 0 auto;
  }
  
  header .nav a:hover::after {
    width: 100%;
  }
  
  
 
  
  footer {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(93, 198, 98, 0.371), 5px 5px 9px 5px rgba(93, 198, 98, 0.371);
    min-height: 150px;
    background: rgba(107, 206, 199, 0.608);
  }
  
  footer .lead {
    color: white;
  }
  
  footer .lead p {
    font-size: 0.9em;
  }
  
  footer .lead a {
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
  }
  
  footer .lead a:hover {
    text-decoration: underline;
    color: rgb(246, 231, 216);
  }
  
  footer h5 {
    color: rgb(92, 122, 15);
  }
  
  footer .box3 a {
    border: none;
    padding: 0 12px;
  }
  
  footer .box3 a:hover {
    text-decoration: none;
  }
  
  @media (max-width:768px) {
  
    header .nav {
      min-height: 100vh;
      display: none;
      position: absolute;
      top: 80px;
      right: 0;
      width: 40%;
      padding: 0;
      background: rgba(11, 193, 84, 0.767);
      transform: translate(100%, 0);
      transition: 600ms;
      z-index: 10;
      opacity: 0;
    }
  
    header .nav_open {
      opacity: 100%;
      transform: translate(0, 0);
    }
  
    header ul {
      display: block;
    }
  
    header .row li {
      padding: 12px 0;
      text-align: center;
      transition: none;
    }
  
    header .row li:hover {
      background: rgba(246, 231, 216, 0.686);
      transform: none;
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgb(116, 135, 67), 5px 5px 9px 5px rgb(116, 135, 67);
      ;
    }
  
    header .row a {
      padding: 8px 0;
      margin: 0 auto;
      color: rgb(67, 135, 86);
    }
  
    header .row a:hover {
      color: rgb(116, 135, 67);
  
    }
  
    header .nav a:hover::after {
      width: 35%;
    }
  
    header .burger {
      display: block;
    }
  
    .hidden-mobile {
      display: none;
    }
  }
  
  
  
  
  
  main {
    background-image: url(images/kalisa-veer-1DtA6BKMjFY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    min-height: 900px;
  
  }
  
  main .row .faq {
    font-weight: bold;
    font-size: 2em;
    color: rgb(18, 128, 49);
    text-shadow: 0 -1px 4px #FFF, 0 -10px 20px #00ff00, 0 -18px 40px rgb(170, 255, 0), 2px 2px 2px rgba(206, 89, 55, 0);
  }
  
  
  
  
  /* open accordion*/
  .accordion-item .accordion-header .accordion-button {
    /* color: black; */
    background: rgb(68, 135, 67);
    color: rgb(246, 231, 216);
    /* font-weight: bold; */
    font-size: 0.6em;
  
  }
  
  .accordion-item .accordion-body {
    background: rgb(246, 231, 216);
    color: rgb(67, 135, 87);
  
  }
  
  /* closed accordion*/
  
  .accordion-item .accordion-header .accordion-button.collapsed {
    color: rgb(67, 135, 87);
    background: rgba(178, 206, 107, 0.608);
  
  }
  
  :focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  
  @media (max-width:768px) {
    main {
      background-attachment: scroll;
    }
  
  }